################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PDF-ки из конца недели
/OutputWithAccuracy
/StudentsList
/Coursera 478HFZ36HPNB.pdf
/c-plus-plus-yellow/MatrixSummation/MatrixSummation
/c-plus-plus-yellow/MatrixSummation/.vs/MatrixSummation/v15
/c-plus-plus-yellow/MatrixSummation
