################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PDF-ки из конца недели
/OutputWithAccuracy
/StudentsList
/Coursera 478HFZ36HPNB.pdf
